{{!-- <div class=" ">
    <h2 class="h2-font m_destination_details 
    text-center">{{destination.title}}</h2>

    <div>
        <img class="img-fluid" alt="100%x280" src="{{destination.small_img}}">

    </div>




</div> --}}



<div class="container px-4 px-lg-5 m_destination_details ">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                src="{{destination.large_img}}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-bold ">{{destination.title}}</h1>
            <p>{{destination.location}}</p>
            <p>CAD {{destination.price}}</p>
            <a class="btn btn-primary" href="#!">Reserve</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class=" text-white  my-5 py-4 text-center mb-5" style="height: 10rem;">
     
        <div id="" class=" m-minus-margin200 m-margin-top">
            {{!-- <div class="section-center "> --}}
                <div class="section-center ">
                    <div class="container">
                        <div class="row">
                            <div class="booking-form">
                                <form>

                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="">
                                                <input class="form-control" type="date" required>
                                                <span class="form-label">Check In</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input class="form-control" type="date" required>
                                                <span class="form-label">Check out</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-btn">
                                                <button class="submit-btn">Check availability</button>
                                            </div>
                                        </div>


                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
            <div class="m_pr_pl m_font_size mb-5"> {{destination.details_l}}</div>

    </div>