<div class="text-center m-pt-150">

  <form
    action="/user/registration"
    method="POST"
    style="max-width:480px; margin:auto; padding-top: 150px"
  >

    <h1 class="h3 mb-3 h2-font">Register</h1>
    <p> {{error}} </p>
    <p> {{successMessage}} </p>
    <p> {{errorMessage}} </p>

    <label class="sr-only">Name</label>
    <input
      type="text"
      id="name"
      name="name"
      value="{{name}}"
      class="form-control mb-3"
      placeholder="Name"
      autofocus
    />

    <label class="sr-only">Email address</label>
    <input
      type="email"
      id="email"
      name="email"
      value="{{email}}"
      class="form-control mb-3 m-minus-margin"
      placeholder="Email"
    />

    <label for="password" class="sr-only">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      class="form-control mb-3"
    />

    <label for="reg_passwordConfirm" class="sr-only">Password Confirmation</label>
    <input
      type="password"
      id="password2"
      name="password2"
      placeholder="Password Confirmation"
      class="form-control"
    />

    <div class="checkbox mt-3">
      <div class="mt-3 mb-5">
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-block"
        >Register</button>
      </div>
    </div>
  </form>
</div>